* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
}

svg {
    width: 100%;
}

#game-panel {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#game-panel div {
    vertical-align: middle;
    width: 100px;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

#end-phase {
    background-color: whitesmoke;
    color: black;
}

#end-phase:hover {
    background-color: red;
    color: whitesmoke;
}