* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    background-color:#f0d384;
}

svg {
    width: 100%;
}

#game-panel {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#game-panel div {
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

#end-phase {
    width: 100px;
    background-color: whitesmoke;
    color: black;
}

#reinforcements-remaining {
    width: 250px;
}

#end-phase:hover {
    background-color: red;
    color: whitesmoke;
}
#popupposition {
    top: 0; 
    left: 0; 
    position: fixed;
    width: 100%; 
    height: 120%;
    background-color: rgba(0,0,0,0.7); 
    display: none;
}

.popupwrapper {
  width: 25vw;
  margin: 50px auto; 
  text-align: left;
}

.popupwrapper h2 {
  font-size: 1em;
}

.popupcontent {
  background-color: #FFF; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupbuttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cancel {
  margin-top: 10px;
}

.pickerbutton {

    align-self: center;
    background-color: #efefef;
    border: none;
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    justify-self: center;
    padding: 0.5rem 1rem;
    margin: 5px;


}

.pickerbutton:hover {
    cursor: pointer;
    background-color: #bbbbbb;
  }

html {
    font-family: system-ui, sans-serif;
  }
  #die_pop_content{
      position: fixed;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: grey;
      z-index: 1;
      opacity: 0.8;
      display: none;
  }
  .top{
      width: 95%;
      height: 50px;
      margin: 2px auto;
  }
  .top a{
      float: right;
      margin-right: 0;
      text-decoration: none;
      opacity: 0.5;
      font-size: 30px;
  }
  .dice {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    padding: 2rem;
    perspective: 600px;
  }
  .die-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 6rem;
    list-style-type: none;
    transform-style: preserve-3d;
    width: 6rem;
  }
  .even-roll {
    transition: transform 1.5s ease-out;
  }
  .odd-roll {
    transition: transform 1.25s ease-out;
  }
  .die-item {
    background-color: #A00000;
    box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
      inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: 1rem;
    width: 100%;
  }
  .dot {
    align-self: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    display: block;
    height: 1.25rem;
    justify-self: center;
    width: 1.25rem;
  }
  .even-roll[data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  .even-roll[data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  .even-roll[data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
  }
  .odd-roll[data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
  }
  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
  }
  [data-side="1"] .dot:nth-of-type(1) {
    grid-area: five;
  }
  [data-side="2"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="2"] .dot:nth-of-type(2) {
    grid-area: nine;
  }
  [data-side="3"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="3"] .dot:nth-of-type(2) {
    grid-area: five;
  }
  [data-side="3"] .dot:nth-of-type(3) {
    grid-area: nine;
  }
  [data-side="4"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="4"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="4"] .dot:nth-of-type(3) {
    grid-area: seven;
  }
  [data-side="4"] .dot:nth-of-type(4) {
    grid-area: nine;
  }
  [data-side="5"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="5"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="5"] .dot:nth-of-type(3) {
    grid-area: five;
  }
  [data-side="5"] .dot:nth-of-type(4) {
    grid-area: seven;
  }
  [data-side="5"] .dot:nth-of-type(5) {
    grid-area: nine;
  }
  [data-side="6"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="6"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="6"] .dot:nth-of-type(3) {
    grid-area: four;
  }
  [data-side="6"] .dot:nth-of-type(4) {
    grid-area: six;
  }
  [data-side="6"] .dot:nth-of-type(5) {
    grid-area: seven;
  }
  [data-side="6"] .dot:nth-of-type(6) {
    grid-area: nine;
  }

  button {
    align-self: center;
    background-color: #efefef;
    border: none;
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    justify-self: center;
    padding: 0.5rem 1rem;
  }
  button:hover {
    cursor: pointer;
    background-color: #bbbbbb;
  }

  @media (min-width: 900px) {
    .dice {
      perspective: 1300px;
    }
  }

