#play:link {
    color: #000000;
    text-decoration: none;
  }
  
  #play:visited {
    color: #000000;
    text-decoration: none;
  }

  #play:hover {
    color: #C8C8C8;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  
  .header{
    height: 120px;
    background: #ffffff;
    padding: 0 10px;
    color: #ff0000;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .header img{
      float: left;
      padding: 0 15px 15px 0;
  }
  
  .menu{
    float: right;
    line-height: 100px;
    padding: 5px 20px;
  }
  
  .menu a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    font-family: Yu Gothic UI Semibold;
    font-size: 20px;
  }
  
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .show-menu-btn{
    float: right;
    padding: 0 25px;
  }
  
  .show-menu-btn i{
    line-height: 100px;
  }
  
  .menu a:hover{
    color: #fff;
    background-color: #ff0000;
    border-top: 50px solid #ff0000;
    border-bottom: 52px solid #ff0000;
  }
  
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #3498db;
  }

  .content {
    background: #f1f1f1;
    /* padding: 150px 150px; */
    padding-top: 200px;
    height: 200px;
    position: relative;
  }

  .content a{
    position: absolute;
    left: 50px;
    top: 225px;
    /* padding: 80px 40px 10px 100px; */
    font-size: 150px;
    font-family: Arial Black;
    line-height: 50px;
  }