<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./styles/privacy.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  </head>
  <body>
  <div class="header">
    <img src="./styles/ksir.png" alt="ksir" width=220px height=100%>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/privacy">Privacy</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>

<div class="content">
    <center>
      <p>About</p>
    </center>
    </div>

<div class="contents">
	<h2>How to play</h2>
  <p>KSIR is a military strategy game inspired by the game Risk in which 2-4 players compete for complete dominance of different maps through the positioning and attacking of troops.</p>
	<h2> Initial setup </h2>
  <p>Territories will be divided evenly between players.<p>
  <p>Territories will be allocated to players randomly.<p>
  <p>Each territory will start with 3 troops on it.<p>

  <h2>Gameplay</h2>
  <p>Each player's turn will consist of 3 seperate stages.</p>
  <li>Placing new troops</li>
  <p>At the start of their turn the player will be given troops to place on their territories in any way they want, the number of troops is determined by:</p>
  <p>1. The number of territories occupied by the player divided by 3(any non integer will be rounded down). Note that a minimum of 3 troops must be allocated for this step.</p>
  <p>2. Bonus troops will be awarded if the player completely controls a specified area.</p>
  <p>3. The player collects a set of cards which can be traded in for troops.</p>
  <li>Attacking</li>
  <p>Once the player has finished placing their new troops, they have the option of attacking other players' territoies with the aim of taking them over. To attack they must:</p>
  <p>1. Choose one of their own territories to attack from.</p>
  <p>2. Choose how many troops from their territory they would like to attack with (maximum of 3 and at least one troop must be left in the owned territory).</p>
  <p>3. Choose an opponent's territory adjacent to the selected one to attack, the defender can either choose 1 or 2 troops if they have them to defend with.</p>
  <p>4. A dice is rolled for each troop involved in the attack, then the dice are orderded in descending order and paired up, attack vs defense.</p>
  <p>5. For each pair if the attacker's dice roll is higher, the defender loses a troop otherwise the attacker loses one.</p>
  <p>6. The player can choose when to attack for as long as they have troops, but may not even attack at all.</p>
  <li>Fortifying</li>
  <p>Once the player has finished attacking they may choose to move as many troops as they like from one of their territories to another, provided they are connected to each other by other player owned territories (this can only de done once per turn).</p>

  <h2> Winning the Game </h2>
  <p> The game is won once all territories are controlled by the player and they have complete domination of the map.</p>
</div>

<footer>
	<div class="footer-container">
		<!-- <img src="ksir.png" alt="" class="logo">
		<div class="social-media">
			<a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
			<a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
			<a href="https://www.instagram.com/?hl=zh-cn"><i class="fab fa-instagram"></i></a>
			<a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
			<a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
    </div> -->
    <!-- look into the validity of copyright -->
		<p class="rights-text">© 2020 Created By KSIR ALL Rights Reserved.</p>
	</div>
</footer>
  </body>
</html>
