<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/game.css">
    <title><%= room.name %></title>
    <link rel="stylesheet" href="/styles/game.css" type="text/css">
    

</head>
<body style="background-color:#f0d384;">
    <div id="map"></div>
    <div id="game-panel">
        <div id="reinforcements-remaining"></div>
        <div id="end-phase">End Phase</div>
    </div>
    <button id="reinbtn">Reinforce</button>

    <div id="die_pop_content">
    <div class="top">
        <a href="javascript:void(0)" id="cancel">&#935;</a>
    </div>
     <div class="dice">
      <ol class="die-list even-roll" data-roll="1" id="die-1">
        <li class="die-item" data-side="1">
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="2">
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="3">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="4">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="5">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="6">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
      </ol>
      <ol class="die-list even-roll" data-roll="1" id="die-1">
        <li class="die-item" data-side="1">
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="2">
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="3">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="4">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="5">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="6">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
      </ol>
      <ol class="die-list odd-roll" data-roll="1" id="die-2">
        <li class="die-item" data-side="1">
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="2">
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="3">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="4">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="5">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="6">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
      </ol>
      <ol class="die-list odd-roll" data-roll="1" id="die-2">
        <li class="die-item" data-side="1">
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="2">
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="3">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="4">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="5">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
        <li class="die-item" data-side="6">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </li>
      </ol>
    </div>
    <button type="button" id="roll-button">Roll Dice</button>
</div>
<div  id="popupposition">
    <div class = "popupwrapper">
        <div class = "popupcontent">
            <h3>Please select the number of troops</h3>
            <div class = "popupbuttons">

            </div>
            <button class="cancel">Cancel</button>
        </div>
    </div>
</div>
    <script src="./die_app.js"></script>

    <script>
        function cancel() {
           let d = document.getElementById("die_pop_content");
           d.style.display="none";
        }
        function rollDice() {
          const dice = [...document.querySelectorAll(".die-list")];
          dice.forEach(die => {
            toggleClasses(die);
            die.dataset.roll = getRandomNumber(1, 6);
          });
        }
        function toggleClasses(die) {
          die.classList.toggle("odd-roll");
          die.classList.toggle("even-roll");
        }

        function getRandomNumber(min, max) {
          min = Math.ceil(min);
          max = Math.floor(max);
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        document.getElementById("roll-button").addEventListener("click", rollDice);
        document.getElementById("cancel").addEventListener("click", cancel);
    </script>
    <!-- <script src="./app.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script>
        var graph;
        var regions = {};
        var selectedRegion = null;
        var neighborRegions = [];
        var troopMarkers = {};
        var currentPlayerIndex = 0;
        var reinforcementsRemaining = 0;
        var playerList, currentPlayer, thisPlayer;
        var phase = 'reinforcement';

        var style = {
            fill: "#ddd",
            stroke: "#f0d384",
            "stroke-width": 2,
            "stroke-linejoin": "round",
            cursor: "pointer"
        };
        var hoverStyle = {
            fill: "#ffabab"
        };
        var neighborHoverStyle = {
            fill: "#824b4b"
        };
        var selectedStyle = {
            fill: "#9c1616"
        };

        var playerStyles = [];
        playerStyles.push({
           fill: "#bf4b4b"
        });
        playerStyles.push({
            fill: "#117321"
        });
        playerStyles.push({
            fill: "#1f4991"
        });
        playerStyles.push({
            fill: "#929431"
        });

        window.addEventListener('load', function() {
            let container = document.getElementById('map');
            map = new Raphael(container, 620, 600);

            socket = io('/game');

            socket.on('player name', function(data) {
                thisPlayer = data;
            });

            socket.on('player list', function(data) {
                console.log('got player list');
                playerList = data.playerList;
                currentPlayer = playerList[0].player;
                console.log(playerList);
            });

            socket.on('map', function(g) {

                graph = g;

                let playerIndex;
                for(let i = 0; i < graph.nodes.length; i++) {
                    regions[graph.nodes[i].obj.name] = map.path(graph.nodes[i].obj.path);
                    restoreStyle(graph.nodes[i]);
                    let bBox = regions[graph.nodes[i].obj.name].getBBox();

                    // draw circle with number of troops
                    let centerX = bBox.x + bBox.width / 2;
                    let centerY = bBox.y + bBox.height / 2;
                    map.circle(centerX, centerY, 10).attr({fill: "#e6e6e6"});
                    troopMarkers[graph.nodes[i].obj.name] = map.text(centerX, centerY, graph.nodes[i].obj.troops);

                    regions[graph.nodes[i].obj.name][0].addEventListener('mouseover', function() {

                        // ? what if two regions have the same name
                        if(graph.nodes[i].obj.name !== selectedRegion) {
                            regions[graph.nodes[i].obj.name].animate(hoverStyle, 0);
                        }
                    }, true);
                    regions[graph.nodes[i].obj.name][0].addEventListener('click', function(e) {
                        e.stopPropagation();
                        if(currentPlayer !== thisPlayer) {
                            // don't allow selection if it's not this player's turn
                            return;
                        }

                        // clear all styles
                        restoreAllStyles();
                        

                        // TODO show a popup to select the number of troops to move
                        
                        
                        if(selectedRegion && neighborRegions.indexOf(graph.nodes[i].obj.name) !== -1) {
                            // a region was selected and the user then clicked on a neighboring region
                            selectroops(graph.nodes[i].obj.troops);

                            //Craps animation
                            let d = document.getElementById("die_pop_content");
                            d.style.display="block";

                        if(phase === 'reinforcement') {
                            // TODO show popup
                            // don't show if reinforcementsRemaining <= 0
                            let num = 2;

                            selectedRegion = graph.nodes[i].obj.name;
                            regions[graph.nodes[i].obj.name].animate(selectedStyle, 0);
                            socket.emit('reinforce', {
                                region: graph.nodes[i].obj.name,
                                num: num
                            });

                        } else if(phase === 'attack') {
                            // TODO show a popup to select the number of troops to move
                            if(selectedRegion && neighborRegions.indexOf(graph.nodes[i].obj.name) !== -1) {
                                // a region was selected and the user then clicked on a neighboring region
    
                                let payload = {from: selectedRegion, to: graph.nodes[i].obj.name, num: 1};
                                console.log(payload);
                                socket.emit('attack', payload);
    
                                selectedRegion = null;
                                neighborRegions = [];
                            } else {
                                if(graph.nodes[i].obj.name !== selectedRegion) {
                                    for(let j = 0; j < graph.nodes.length; j++) {
                                        if(graph.adjacencyMatrix[i][j]) {
                                            neighborRegions.push(graph.nodes[j].obj.name);
                                            regions[graph.nodes[j].obj.name].animate(neighborHoverStyle, 0);
                                        }
                                    }
    
                                    regions[graph.nodes[i].obj.name].animate(selectedStyle, 0);
                                    selectedRegion = graph.nodes[i].obj.name;
                                } else {
                                    selectedRegion = null;
                                    neighborRegions = [];
                                }
                            }
                        }
                        }

                    }, true);

                    regions[graph.nodes[i].obj.name][0].addEventListener('mouseout', function() {

                        if(graph.nodes[i].obj.name === selectedRegion) {
                            regions[graph.nodes[i].obj.name].animate(selectedStyle, 0);
                        } else if(neighborRegions.indexOf(graph.nodes[i].obj.name) !== -1) {
                            regions[graph.nodes[i].obj.name].animate(neighborHoverStyle, 0);
                        } else {
                            restoreStyle(graph.nodes[i]);
                        }
                    }, true);
                }
            });

            socket.on('attack', function(data) {
                console.log('Got attack event');
                let indexFrom, indexTo;
                for(let i = 0; i < graph.nodes.length; i++) {
                    if(graph.nodes[i].obj.name === data.from) {
                        indexFrom = i;
                        console.log('Updating marker');
                        graph.nodes[i].obj.troops -= data.attackingDeaths;
                        troopMarkers[data.from].attr({text: graph.nodes[i].obj.troops})
                    }
                    if(graph.nodes[i].obj.name === data.to) {
                        indexTo = i;
                        console.log('Updating marker');
                        graph.nodes[i].obj.troops -= data.defendingDeaths;
                        troopMarkers[data.to].attr({text: graph.nodes[i].obj.troops});
                        
                    }
                }

                if(data.defeated) {
                    for(let j = 0; j < playerList.length; j++) {
                        if(playerList[j].player === graph.nodes[indexTo].obj.owner) {
                            playerList[j].alive = false;
                            break;
                        }
                    }

                    // TODO show animation ?
                }

                if(data.conquered) {
                    graph.nodes[indexTo].obj.owner = graph.nodes[indexFrom].obj.owner;
                }
            });

            socket.on('reinforce', function(data) {
                console.log('got reinforce event');
                for(let i = 0; i < graph.nodes.length; i++) {
                    if(graph.nodes[i].obj.name === data.region) {
                        graph.nodes[i].obj.troops += data.num;
                        troopMarkers[data.region].attr({text: graph.nodes[i].obj.troops});
                        break;
                    }
                }

                reinforcementsRemaining -= data.num;
                updateReinforcementsRemaining();
            });

            socket.on('reinforcements remaining', function(num) {
                reinforcementsRemaining = num;
                updateReinforcementsRemaining();
            });
        });

        document.addEventListener('click', function(e) {
            selectedRegion = null;
            neighborRegions = [];
            restoreAllStyles();
        });

        function restoreStyle(node) {
            let playerIndex;
            for(let j = 0; j < playerList.length; j++) {
                if(playerList[j].player === node.obj.owner) {
                    playerIndex = j;
                    break;
                }
            }

            regions[node.obj.name].attr(style);
            regions[node.obj.name].attr(playerStyles[playerIndex]);
        }

        function restoreAllStyles() {
            for(let j = 0; j < graph.nodes.length; j++) {
                restoreStyle(graph.nodes[j]);
            }
        }

        function updateReinforcementsRemaining() {
            console.log(`updating reinforcements remaining: ${reinforcementsRemaining}`);
            let reinforementsNumberBox = document.querySelector('#reinforcements-remaining');

            // remove existing text
            while(reinforementsNumberBox.firstChild) {
                reinforementsNumberBox.removeChild(reinforementsNumberBox.firstChild);
            }

            // display the new number
            reinforementsNumberBox.appendChild(document.createTextNode(`Reinforcements Remaining: ${reinforcementsRemaining}`));
        }

        function switchPlayer() {

            do {
                currentPlayerIndex = (currentPlayerIndex + 1) % playerList.length;
                currentPlayer = playerList[currentPlayerIndex].player;
            } while(!playerList[currentPlayerIndex].alive);
        }

        function nextPhase() {
            if(phase === 'reinforcement') {
                phase = 'attack';
            } else if(phase === 'attack') {
                phase = 'move';
            } else if(phase === 'move') {
                phase = 'reinforcement';
                switchPlayer();
            }
        }
        function selectroops(n) {
            var popup = document.querySelector(".popupbuttons");
            var cancel = document.querySelector(".cancel")
            toggle_visibility("popupposition");

            for (var i=0; i<n-1; i++) {
                              
                var elem = document.createElement('input');
                elem.type = 'button';
                elem.value = i + 1;
                elem.className = "pickerbutton";
                elem.onclick = function() {returntroops(this.value)};
                
                popup.appendChild(elem);
            }

            cancel.onclick = function() {returntroops(0)};


        }

        
        function returntroops(n) {
            console.log(n);
            
            var elem = document.querySelectorAll(".pickerbutton");
            var l = elem.length;
            for (i=0; i<l; i++) {
                    elem[i].parentNode.removeChild(elem[i]);

            }
            
            toggle_visibility("popupposition");

          
            return n;


        }


        function toggle_visibility(id) {
			       var n = document.getElementById(id);
			       if(n.style.display == 'block')
			          n.style.display = 'none';
			       else
			          n.style.display = 'block';
			    }
    </script>
</body>
</html>
