<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="./styles/index.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  </head>
  <body>
  <div class="header">
    <img src="./styles/ksir.png" alt="ksir" width=220px height=100%>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a href="/">Home</a>
      <a href="#">About</a>
      <a href="/privacy">Privacy</a>
      <a href="#">Contact</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>

<div class="content">
    <center>
      <a href='#' id="play" onclick="getUsername()">Play</a>
    </center>
    </div>

    <script>
      function getUsername() {
        var username = prompt('Enter a username');
        if(username != null) {
          window.location.href = "/serverrooms";
        }
      }
    </script>
  </body>
</html>
