<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./styles/privacy.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="icon" href="./styles/ksir_icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./styles/ksir_icon.ico" type="image/x-icon">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body>
  <div class="header">
    <img src="./styles/ksir.png" alt="ksir" width=220px height=100%>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a href="home.html">Home</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>

<div class="content">
    <center>
      <p>Privacy Policy</p>
    </center>
    </div>

<div class="contents">
	<h2>Introduction</h2>
  <p>KSIR ("us") takes the privacy of users and the protection of personal information very seriously. We may collect and use information about you when you use our products and / or services. We want to explain to you through the KSIR Privacy Policy ("this Privacy Policy") how we collect, use, save, share, and transfer this information when you use our products and / or services, and the access we provide you , Update, delete, and protect this information.</p>
  <p>The terms involved in this privacy policy are expressed as concisely as possible, and links to further explanations are provided for your better understanding. Your use or continued use of our products and / or services after we update this privacy policy (we will promptly update you), you agree to the content of this privacy policy (including updated versions), and you agree to us in accordance with this The privacy policy collects, uses, saves and shares information about you.</p>
  <p>This privacy policy was last updated on 12.2.2020.</p>
	<h2>Data collection</h2>
  <li>How we collect your personal information</li>
  <p>Personal information refers to all kinds of information recorded in electronic or other ways that can identify the identity of a specific natural person or reflect the activity of a specific natural person, either alone or in combination with other information. The personal information covered in this privacy policy includes: Personal common device information (including hardware model, device MAC address, operating system type, software list unique device identification code (such as IMEI / android ID / IDFA / OPENUDID / GUID, SIM card IMSI information, etc.) Describe the basic situation of personal common devices Information); personal location information (including itinerary information, precise positioning information, latitude and longitude, etc.).</p>
  <li>How we use your personal information</li>
  <p>We collect your information for the purpose of providing you with high-quality, personalized services. To achieve this purpose, we will use your information for the following purposes:
  <p>1. Provide you with the services you use and maintain and improve them</p> <p>2. Recommend to you content that you may be interested in, including but not limited to showing you personalized promotional information through the system, sending you product and service information, or sharing information with partners with your consent So they can send you information about their products and services.</p> <p>3. We may use your personal information to prevent, detect, investigate fraud, endanger security, illegal or violate agreements, policies or rules with us or its affiliates to protect you, other our users, or us or its affiliates Party's legal rights.</p><p> 4. We may combine personal information from one service with information from other services to use and share in order to provide you with more personalized service use, such as the need for you to have a wider social circle Or disclosure.</p>
  <li>How we share information</li>
  <p>We have the obligation to keep your information confidential. We will not sell or rent any of your information to third parties for marketing purposes. We will only share your information with third parties under the following circumstances:</p><p> 1. Get you in advance Consent or authorization.</p><p>2. As required by laws and regulations or by administrative or judicial institutions</p><p>3. Share your personal information with related parties.</p><p>4. Provide your personal information to trusted partners and let them process this information for us in accordance with our instructions and in accordance with our privacy policy and any other appropriate confidentiality and security measures</p>
	<h2>Your legal rights</h2>
  <li>Right of access</li>
  <p>You have the right to know what information we hold about you and in some cases contact you. If you want to exercise this right, please contact us and let us know what access you want to exercise and what information you would like to receive. We reserve the right to ask you for reasonable evidence to verify your identity before providing you with any information. Please note that we may not be able to provide all the information you request, for example, if the information contains personal information about others. When we are unable to provide you with the information you requested, we will do our best to tell you why. We work hard to respond to any request for access as soon as possible, but we always respond within 1 month of receiving your request, proof of identity, and any applicable fees.</p>
  <li>Right to correct personal information</li>
  <p>We make every effort to ensure that your information we hold is accurate and up-to-date. If you find any incorrect information we hold about you, please let us know by email at privacy@support.ksir.com. We will correct it as soon as possible.</p>
  <li>Data deletion</li>
  <p>In some cases, you have the right to ask us to delete some of your personal information that we hold. If you ask to delete any information about you, please contact us using the information below. Please note that to process your request, you must delete our games from your mobile device and clear our cookies from devices that you have used to play our games using a web browser. When we delete your personal information, we may retain it for other purposes (for example, to maintain financial records, to protect or exercise legal rights, to maintain a marketing ban list, or for technical reasons such as maintaining technical security measures or the integrity of our database) Part or all of it. We also hold your information anonymously. In some cases, your personal information that is visible through game settings (such as username, avatar, your high score, and any chat information) can be cached on other players ’devices, and, for example, if those devices are not associated with wifi internet connection, we cannot delete or update such data from those devices.</p><p></p>
</div>

<footer>
	<div class="footer-container">
		<img src="ksir.png" alt="" class="logo">
		<div class="social-media">
			<a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
			<a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
			<a href="https://www.instagram.com/?hl=zh-cn"><i class="fab fa-instagram"></i></a>
			<a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
			<a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <!-- look into the validity of copyright -->
		<p class="rights-text">© 2020 Created By KSIR ALL Rights Reserved.</p>
	</div>
</footer>
  </body>
</html>
