<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/rooms.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room - <%= room.name %></title>

    <style>
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

.header{
  height: 120px;
  background: #ffffff;
  padding: 0 10px;
  color: #ff0000;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.menu{
  float: left;
  line-height: 100px;
  padding: 5px 20px;
}

.menu a{
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  font-family: Yu Gothic UI Semibold;
  font-size: 20px;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
  padding: 0 25px;
}

.show-menu-btn i{
  line-height: 100px;
}

.menu a:hover{
  color: #fff;
  background-color: #ff0000;
  border-top: 50px solid #ff0000;
  border-bottom: 52px solid #ff0000;
}

.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

.content {
  background: #f1f1f1;
  padding-top: 200px;
  height: 300px;
  width: 1000px;
  margin: auto;
  position: relative;
}

#rooms {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

#rooms li div {
    line-height: 50px;
    padding-left: 50px;
    height: 50px;
    /* border-style: solid; */
    border-radius: 0.5em;
    margin-bottom: 10px;
    background-color: #fffbed;
    box-shadow: 5px 5px 3px #e3e3e3;
}
    </style>
</head>
<body>

    <div class="header">    
        <ul class="menu">
          <a href="/rooms">BACK</a>
          <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
          </label>
        </ul>
      </div>

<div class="content">  
    <a href="/rooms">Back</a><br>
    <h1><%= room.name %></h1>
    <ul>
        <% 
            for(let i = 0; i < room.users.length; i++) {
                let user = users.search(room.users[i]);
                if(user) {
        %>
        <li><%= user.obj.username %></li>
        <%
                }
            } 
        %>
    </ul>
    <%
        if(currentUser.sessionID === room.host) {
    %>
    <button id="start-btn">Start Game</button>
    <%
        }
    %>
    </div>
    <br>
    <div id="chat"></div>
    <br>
    <form id="chat-form">
        <input type="text" name="chat-text" id="chat-text"> <input type="submit" value="Send" id="chat-send">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script>
        var socket = io('/lobby');

        socket.on('host left', function(data) {
            // TODO show "host has left box"
            // user must no longer be able to interact with the page
        });

        socket.on('start game', function(data) {
            // ! change base url or it won't work on server
            window.location = "http://localhost:3000/room/<%= room.id %>/game";
        });

        socket.on('message', function(msg) {
            // new chat message received. display it

            let chat = document.querySelector('#chat');
            let messageText = document.createTextNode(msg);
            chat.appendChild(messageText);
            chat.appendChild(document.createElement('br'));
        });

        document.querySelector('#start-btn').addEventListener('click', function(e) {
            socket.emit('start request', null);
        });

        document.querySelector('#chat-form').addEventListener('submit', function(e) {
            e.preventDefault();
            let msg = document.querySelector('#chat-text').value.trim();
            if(msg !== "") {
                socket.emit('message', msg);
            }
        });
    </script>
</body>
</html>