<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Rooms</title>
</head>
<body>
    <p id="connect"></p>
    <form action="createroom" method="post">
        <input type="text" name="create_room_name" id="create_room_name"> <input type="submit" value="Create">
    </form>
    <ul>
        <% let walk = rooms.head; %>
        <% while(walk) { %>
            <% let room = walk.obj; %>
            <li><a href="room/<%=room.id%>"><%= room.name %></a></li>
            <% walk = walk.next; %>
        <% } %>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script>
        var socket = io('/game-browser');
        socket.on('user-joined', function(msg) {
            let connect = document.querySelector('#connect');
            let newUserJoinText = document.createTextNode(msg);
            let lineBreak = document.createElement('br');
            connect.appendChild(newUserJoinText);
            connect.appendChild(lineBreak);
        });
    </script>
</body>
</html>