<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Test</title>
</head>
<body>
    <div id="map"></div>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script>
        window.addEventListener('load', function() {
            let container = document.getElementById('map');
            map = new Raphael(container, 500, 300);
            style = {
                fill: "#ddd",
                stroke: "#aaa",
                "stroke-width": 1,
                "stroke-linejoin": "round",
                cursor: "pointer"
            };
            
            socket = io('/test-map');
            socket.on('nodes', function(nodes) {
                for(let i = 0; i < nodes.length; i++) {
                    map.path(nodes[i].path).attr(style);
                }
            });
        });
    </script>
</body>
</html>