<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Test</title>
</head>
<body>
    <div id="map"></div>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script>
        var regions = {};
        var numberRegex = /-?[0-9]+\.?[0-9]*/g;

        window.addEventListener('load', function() {
            let container = document.getElementById('map');
            map = new Raphael(container, 620, 600);
            
            var style = {
                fill: "#ddd",
                stroke: "#aaa",
                "stroke-width": 1,
                "stroke-linejoin": "round",
                cursor: "pointer"
            };
            var hoverStyle = {
                fill: "#FF7C78"
            };
            var neighborHoverStyle = {
                fill: "#A8BED5"
            };
            
            socket = io('/test-map');
            socket.on('map', function(graph) {
                // console.log(graph.adjacencyMatrix);
                for(let i = 0; i < graph.nodes.length; i++) {
                    regions[graph.nodes[i].obj.name] = map.path(graph.nodes[i].obj.path);
                    regions[graph.nodes[i].obj.name].attr(style);
                    let bBox = regions[graph.nodes[i].obj.name].getBBox();

                    // draw circle with number of troops
                    let centerX = bBox.x + bBox.width / 2;
                    let centerY = bBox.y + bBox.height / 2;
                    map.circle(centerX, centerY, 10).attr({fill: "#A8BED5"});
                    map.text(centerX, centerY, graph.nodes[i].obj.troops);

                    regions[graph.nodes[i].obj.name][0].addEventListener('mouseover', function() {
                        regions[graph.nodes[i].obj.name].animate(hoverStyle, 0);
                        for(let j = 0; j < graph.nodes.length; j++) {
                            if(graph.adjacencyMatrix[i][j]) {
                                regions[graph.nodes[j].obj.name].animate(neighborHoverStyle, 0);
                            }
                        }
                    }, true);
                    regions[graph.nodes[i].obj.name][0].addEventListener('mouseout', function() {
                        regions[graph.nodes[i].obj.name].animate(style, 0);
                        for(let j = 0; j < graph.nodes.length; j++) {
                            if(graph.adjacencyMatrix[i][j]) {
                                regions[graph.nodes[j].obj.name].animate(style, 0);
                            }
                        }
                    }, true);
                }
            });
        });
    </script>
</body>
</html>